.content {
    padding: 20px;
    box-sizing: border-box;
    background: url('../src/assets/delivery.jpg') no-repeat center center;
    background-size: cover;
}

h1 {
    margin-top: 0;
    margin-bottom: 0vh;
}
