#root {
  margin: 0 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.app {
  display: grid;
  grid-template-columns: 15vw 1fr; /* Sidebar de ancho fijo y Content que ocupa el resto */
  width: 100vw;
}
